.cart{
    margin-left: 10px;
    padding: 40px 20px;
    position:sticky;
    top: 0;
}
.cart-image{
    border-radius: 50%;
    width: 20%;
    height: 20%;
}
.cart-name{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 16px;
}

.niallhoran{
    margin-left: 10px;
}



.btn-completed{
    text-align: center;
    margin-bottom: 20px;
}